<!--template-->

<html>
<head>
  <title>My First app</title>
  <link href="bootstrap.min.css" rel="stylesheet">
  <script src="angular.min.js"> </script>
  <script src="app.js"> </script>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>

</head>
<body ng-app="flapperNews" ng-controller="MainCtrl">
<div class ="row">
  <div class="col-md-6 col-md-offset-3">
  <div class="page-header">
    <h1>Flapper News</h1>
  </div>

  <div>
    <!-- ordering posts in descending order -->
      <li ng-repeat="post in posts | orderBy: '-upvotes' ">
        <span class="glyphicon glyphicon-thumbs-up"
         ng-click="incrementUpvotes(post)"> </span>
         {{post.upvotes}}

        <span class="glyphicon glyphicon-thumbs-up"
        ng-click="decrementUpvotes(post)"> </span>

        <span style="font-size:20px; margin-left:10px;">
        <a ng-show="post.link" href="{{post.link}}">
          {{post.title}}
        </a>
        <span ng-hide="post.link">
          {{post.title}}
        </span>

      </span>
      </li>
  </div>

  <div>
    <form ng-submit="addPost()"
      style="margin-top:30px;">
       <h3>Add a new post</h3>

       <div>
      <input type="text"
          class="form-control"
          placeholder="Title"
          ng-model="title"></input>
      </div>
      <div>
      <input type="text"
          class="form-control"
          placeholder="Link"
          ng-model="link"></input>
      </div>
      <button type="submit" class="btn btn-primary" >Post</button>
    </form>
  </div>
  </div>
</div>
</body>
</html>
